h3 {
  text-align: left;
  margin-left: 20px;
  font-size: 22px;
  font-weight: 400;
}

.continue {
  background-color: black;
  color: white;
  width: 318px;
  border-radius: 5px;
  margin: 25px 20px 0px 17px;
  height: 50px;
  font-size: 18px;
  cursor: pointer;
}

.input {
  margin-top: 40px;
}
