
  
  .text {
    color: white;
  
    background-image: linear-gradient(
      to left,
  
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    );
  }
  
  .heading {
    font-family: "Abel", sans-serif;
    color: rgb(181, 177, 177);
    width: 30rem;
    font-size: xx-large;
    letter-spacing: 0.4em;
  }
  
  .subHeading {
    /* border: 1px solid red; */
    width: 25rem;
  
    font-family: "Rubik", sans-serif;
  
    text-align: left;
    font-size: 1.5rem;
  }
  
  .exp {
    font-weight: lighter;
    font-size: 1rem;
    /* padding: 20px; */
  
    /* border: 1px solid red; */
  }

  @media only screen and (max-width: 996px) {
    .text {
        border: 2px solid red;
        color: white;
  
        background-image: linear-gradient(
          to top,
      
          rgba(0, 0, 0, 1),
          rgba(0, 0, 0, 1),
          rgba(0, 0, 0, 1),
          rgba(0, 0, 0, 1),
          rgba(0, 0, 0, 1),
          rgba(0, 0, 0, 1),
          rgba(0, 0, 0, 0.9),
          rgba(0, 0, 0, 0.9),
          rgba(0, 0, 0, 0.9),
          rgba(0, 0, 0, 0.8),
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.3),
          rgba(0, 0, 0, 0.1),
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0)
        );
        width:100%;
        height:100%;
         border:2px solid yellow;
        
        font-weight:bold;
        position: absolute;
        right:2rem;
        top:0.5
    }

    .heading {
      color: rgb(181, 177, 177);
      width: 30rem;
      font-size: xx-large;
      letter-spacing: 0.4em;
    }
}
